{
  "presets": [
    ["es2015", { "modules": false }],
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "es6-promise",
    "transform-object-rest-spread",
    "transform-object-assign"
  ]
}
